@import "tailwindcss";

:root {
  --background: #f9f5ff;
  --foreground: #171717;
  --primary: #6c0ff1;
  --primary-light: #a667ff;
  --primary: #a667ff;
  --positive: #00a63e;
  --positive-light: #21d19f;
  --positive-lightest: #99ead3;
  --black: black;
  --black-10: #e6e6e6;
  --black-15: #d9d9d9;
  --black-30: #b3b3b3;
  --black-50: #7f7f7f;
  --black-70: #4c4c4c;
  --black-80: #333333;
  --white: white;
  --danger: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-positive: var(--positive);
  --color-positive-light: var(--positive-light);
  --color-positive-lightest: var(--positive-lightest);
  --color-black: var(--black);
  --color-black-10: var(--black-10);
  --color-black-15: var(--black-15);
  --color-black-30: var(--black-30);
  --color-black-50: var(--black-50);
  --color-black-70: var(--black-70);
  --color-black-80: var(--black-80);
  --color-white: var(--white);
  --color-danger: var(--danger);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
